body{
    background-color: dimgray;
    font: normal 15pt aeriai;
}

header{
color: floralwhite;
text-align: center;
}

section{
background-color: goldenrod;
border-radius: 10pt;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 5px 5px 5px black;

}


div{

    padding: 9pt;
}


footer{
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 12pt;

}